<html>
    <head>
        <title>Restaurants</title>
    </head>
    <body>
        <div id="header">
            <h1>Compare the Restaurants</h1>
        </div>
        <div class="frame">
            <form action="/restr_ratings/restaurant/" method="post">
            	{% csrf_token %}
            	<table class = 'form'>
            	{{ form }}
                </table>
                <input type="submit" value="Submit!">
            </form>
        </div>

        <div class="frame">
            {% if summaries != None %}
            <div class="summaries">
                {% for entry in summaries %}
                <table class="restaurant">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for data in entry %}
                    <tr>
                        {% for col in data %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </body>
</html>
